/* ---------Common style----- */
body {
    background-color: #F3F1FF;
}
main{
    display: flex;
    justify-content: center;
}
.container {
    background-color: white;
    width: 80%;
    padding: 2% 2%;
}
hr {
    border: 1px solid #D1D1D1;
    margin-top: 2%;
}
/* ------Top Players------ */
.section-title {
    color: #562EFF;
    font-size: 24px;
    margin-top: 0;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}

.player {
    display: flex;
    align-items: center;
}

.player img {
    width: 56px;
}

.players-name {
    margin-left: 16px;
    font-size: 18px;
}

/* ------Top Blog Section------ */

.blog {
    display: flex;
}

.blog img {
    width: 177px;
}

.blog-info {
    margin-left: 2%;
}

.blog-title {
    font-size: 20px;
}

.blog-author {
    color: #9F9F9F;
    font-size: 16px;
}

.blog-author a {
    text-decoration: none;
    font-size: 16px;
    color: #562EFF;
}